
@{
    ViewBag.Title = "AddedPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Post added successfully</h2>
<div style="height: 300px; margin-top: 140px">
    <p style="color: green; text-align: center">Your Post has been added successfully.</p>
    <p style="text-align: center">Check in <a href="ViewMyPost">My Post</a></p>
</div>
