
@{
    ViewBag.Title = "LogOutUserMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height: 300px; margin-top: 140px">
    <p style="color: green; text-align: center">Log out successfully.</p>

    <p style="text-align: center">Back to <a href="~/User/LoginUser">login </a>page.</p>
    <p style="text-align: center">Back to <a href="~/Home/Index">Home </a>page.</p>
</div>