
@{
    ViewBag.Title = "UpdateUserSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User information update successfully</h2>
<div style="height: 300px; margin-top: 140px">
    <p style="color: green; text-align: center">Your details information has been updated successfully.</p>
    
</div>