@{
    ViewBag.Title = "About";
}
@section title
{
    <title>About</title>
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div style="height: 90px">
    Our web app is developed for the learner and helper who are finding trainer and student. Learner can easily find trainer in our application and trainer can also find learner through our application.
    <br/>Learner and Trainer can ask any question in the comment section.
</div>
